<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      * { padding: 0px; margin: 0px; }
      body { overflow: hidden; background-color: black; }
    </style>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.manifest.entry %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.head.entry %>"></script>
  </head>
  <body>
    <div id="scene"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
  </body>
</html>
